@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
}
:root{
    --fonte1: 'Merriweather', serif;
}
header{
    width: 100vw;
    height: 40vh;
    background-image: url(img/com_marca_d_agua-transformed.png);
    background-size: 200%;
    
    background-repeat: no-repeat;
    position: relative;
}
.imagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav{
    background-color: rgb(34, 33, 48);
    
    text-align: center;
    height: 5vh;
}
nav a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 15px;
    padding-top: 6px;

}
a:hover{
    background-color: rgb(54, 52, 77);
    border-radius: 10%;
}
section h1{
    text-align: center;
}
section img{
    width: 30vw;
    max-width: 400px;
    position: relative;
    margin: 1vw;
}
span{
}
strong{
    position: absolute;
    bottom: 0px;
    display: inline;
}
    form{
        background-color: rgb(34, 33, 48);
        width: 226px;
        margin: auto;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    form,input{
        width: 500px;
    }
    .form{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    }
    input{
        height: 5vh;
        font-size: 1.1em;
    }
    .form>h2{
        color: white;
        background-color: black;
        width: 491px;
        margin: auto;
        padding: 5px;
        text-align: center;
    }

